<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>clientLogs.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${CONSOLE_LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.kamilgabryjelski.folxtaskclient.client.ProductClient" level="INFO">
        <appender-ref ref="FILE" />
    </logger>


</configuration>